body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif; padding : 20px;
}


h1 { color: Blue;}
h2 {color: Green;}
p { 
    color: purple;
    font-size: 16px; 
}
#foto-profil {
    border: 5px solid #333;
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.target-penting {
    color: #ff8c00;
    font-weight: bold;
}